.parentContainer{
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 2vw 4vw;
}

.toggleContainer{
    display: flex;
    height: auto;
    width: 100%;
    gap:3vw;
    border-bottom: 1.5px gray solid;
    margin-bottom: 6vh;
    padding-bottom: 1.5vh;
    color: gray;
}
.newListing:hover{
    cursor: pointer;
}
.viewListing:hover{
    cursor: pointer;
}
.bottomContainer{
    height: 85%;
    width: 70%;
    /* background-color: gray; */
    margin: auto;
}

.bottomContainer >div{
    height: 100%;
    width: 100%;
}

#mapContainer:first-child{
    position: relative !important;
}

.searchinputcontainer {
    position: relative;
  }
  
  .searchinputcontainer input {
    width: 100%; 
    padding: 10px;
    padding-right: 30px;
    box-sizing: border-box;
    outline:none;
}
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3vw;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.contentGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3vw;
    padding: 10px;
    overflow: auto;
}
.button {
    border: 0.5px solid grey;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 90px;
    height: 30px;
    border-radius: 4px;
  }
  .myButton:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }
  .trashCan {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* background-color: #f44336; */
    /* color: #fff;  */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    /* margin-left: 1em; */
    /* padding: 10px; */
    /* Add additional styling as needed */
  }
  .shelterListing{
    height: 100%;
    width: 100%;
  }
  .listingsGrid::-webkit-scrollbar{
    display: none;
  }