@tailwind base;
@tailwind components;
@tailwind utilities;


#map > div > div{
    border-radius: .5rem;
}

.select-search-input{
    background: transparent !important;
    color: black !important;
}